.ps-container {
    padding: 20px;
}

/* Header */
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.back-btn {
    background-color: var(--color-primary);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    color: maroon;
}

/* Button Group */
.button-group {
    display: flex;
    gap: 12px;
}

.preview-btn,
.download-btn {
    background: maroon;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.preview-btn:hover,
.download-btn:hover {
    background: #5b0000;
}

/* EMAIL SECTION */
.email-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.email-input {
    padding: 10px;
    width: 260px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

.email-btn {
    background: maroon;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.email-btn:hover {
    background: #5b0000;
}

.email-message {
    font-size: 14px;
    color: green;
    margin-bottom: 15px;
}

/* TABLE */
.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow-soft);
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th {
    background-color: maroon;
    color: white;
    padding: 14px;
}

.data-table td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}

.data-table tr:hover {
    background-color: #f5f5f5;
}

/* Messages */
.loading-text,
.error-text {
    margin-top: 20px;
    font-size: 16px;
}
