<div class="dashboard-container">
    <h1 class="dashboard-title">Employee Dashboard</h1>

    <div class="tiles-grid">
        <a routerLink="/leave-request" class="dashboard-tile">
            <div class="tile-icon">📄</div>
            <div class="tile-title">Leave Request</div>
           
        </a>

        <a routerLink="/pay-slip" class="dashboard-tile">
            <div class="tile-icon">📄</div>
            <div class="tile-title">Pay Slip</div>
            
        </a>

       
    </div>
</div>